<!DOCTYPE html>
<html>
<head>
	<title>Web Vulnerability Scanner Report</title>
	<link href="../..//bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/dino.css" rel="stylesheet">
    <link href="../css/winball.css" rel="stylesheet">
    <script src="../jquery-3.1.1.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<center><h1>Web Vulnerability Scanner Report</h1></center>
<br><br>
<center><h3>Pages Found</h3></center>
<table class="table"  class="table" style="text-align:center;" class="col-md-offset-3">
	<tr>
		<td>
			Page
		</td>
	</tr>
</table>
<center><h3>Parameters Found</h3></center>
<table class="table"  class="table" style="text-align:center;" class="col-md-offset-3">
	<tr>
		<td>
			Page
		</td>
		<td>
			Type
		</td>
		<td>
			Name
		</td>
		<td>
			Value
		</td>
	</tr>
</table>
<center><h3>Vulnerabilities Found</h3></center>
<table class="table"  class="table" style="text-align:center;" class="col-md-offset-3">
	<tr>
		<td>
			Impact
		</td>
		<td>
			Type
		</td>
		<td>
			Link
		</td>
		<td>
			Parameter
		</td>
		<td>
			Exploit
		</td>
	</tr>
</table>
</body>
</html>